# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.history
main

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Go modules
vendor/

# IDE specific files
.idea/
.vscode/
*.iml

# Logs
*.log
*.log.*

# Dependency directories
vendor/

# ENV
.env
.env.supabase